*{ 
    /* by default margin and padding cancel out korar jonno. */
    margin: 0;
    padding: 0;
    /* padding korle ta jeno kokhno bahire na jai sheta kheyal rakha */
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}
.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
.color-orange {
    color: #FD6E0A;
}

.btn{
    background-color:#FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
/* main style */
header{
    background-color:#FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-position: top left,bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
gap: 51px;
align-items: center;
}
nav .menu a{
    font-size: 20px;
    text-decoration: none;
 
    color:#474747;
}
#bannar{
    /* border: 1px solid red; */
    margin: 47px 39px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bannar .bannar-content{
    max-width: 585px;
}
#bannar .bannar-content h2{
 font-size: 45px;
 font-weight: 600;
 color: 474747;
 margin-bottom: 5px;
}
#bannar .bannar-content h1{
    font-size: 85;
    font-weight: bold;
    color: 181818;
    margin-bottom: 20px;
}
#bannar .bannar-content p{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
#bannar .bannar-image img{
    max-width: 584px;
    /* image add korle je default space ashe ta delete korar jonno eta use kora hoi. */
    vertical-align: middle;
}