*{ 
    /* by default margin and padding cancel out korar jonno. */
    margin: 0;
    padding: 0;
    /* padding korle ta jeno kokhno bahire na jai sheta kheyal rakha */
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}
.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
.color-orange {
    color: #FD6E0A;
}

.btn{
    background-color:#FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: auto;
    
}
.section-heading h2{
    font-size:35px ;
    margin-bottom: 30px;
    color:#181818;
}
.section-heading p{
    font-size: 18;
    line-height: 30px;
    margin-bottom: 40px;
    margin-left: 22.5px;
    margin-right: 22.5px;
    color: #757575;
}
/* main style */
header{
    background-color:#FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-position: top left,bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
gap: 51px;
align-items: center;
}
nav .menu a{
    font-size: 20px;
    text-decoration: none;
 
    color:#474747;
}
#bannar{
    /* border: 1px solid red; */
    margin: 47px 39px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bannar .bannar-content{
    max-width: 585px;
}
#bannar .bannar-content h2{
 font-size: 45px;
 font-weight: 600;
 color: 474747;
 margin-bottom: 5px;
}
#bannar .bannar-content h1{
    font-size: 85;
    font-weight: bold;
    color: 181818;
    margin-bottom: 20px;
}
#bannar .bannar-content p{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
#bannar .bannar-image img{
    max-width: 584px;
    /* image add korle je default space ashe ta delete korar jonno eta use kora hoi. */
    vertical-align: middle;
}
#about, #skills,#resume{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;    
    padding: 131px 156px;
}
#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /* background-color: white; */
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
        font-size: 20px;
        margin-bottom: 30px;
        line-height: 30px;
       color:#757575;
    }
.about-info .info-card  h4{
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}
.skill-info{
    display: flex;
    /* justify-content: space-around; */
    gap: 24px;
    background-color: #FFFFFF;
    text-align: left;
}
.skill-card{
    padding: 30px;
    /* border: 1px solid green; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000032;
}
.skill-card h3{
    font-size: 20px;
    /* padding-top: 30px; */
    font-weight: bold;
    color:#181818;
    margin-bottom: 20px;
}
.skill-card p{
    /* padding-top: 20px; */
    font-size: 16px; 
    line-height: 28px;
    color: #757575;
}
.skill-card img{
    width: 44px;
    margin-bottom: 30px; 
}
.resume-container{
    /* width: 71%; */
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container hr{
    margin: 30px 0;
}
.section-title{
    font-size: 30px;
    font-weight: bold;
    /* margin-top: 114px; */
    color: #474747;
        margin-bottom: 30px;

}
.resume-card{
    margin-bottom: 30px;
    max-width: 511px;
    margin-right: 47px;
}
.card-title{
       /* margin-top: 30px;  */
    margin-bottom: 10px;
        font-size: 25px;
        font-weight:bold;
        color: #474747;

}
.card-info{
    margin-bottom: 20px;
        font-size: 20px;
        font-weight:600px;
        color: #757575;
        /* max-width: 309px; */
}
.card-text{
    line-height: 28px;
    font-size: 16px;
    /* max-width: 511px; */
    color:#757575;
    /* margin-bottom: 30px; */
    /* margin-right: 47px; */
}
.resume-card button{
    display: block;;
}